<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1024668757717-sr1i35i4r087ddkkuotgkar1f0bvubh2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgzymLe46dLEJQ_2VIqDPnobOZEm816r8</string>
	<key>GCM_SENDER_ID</key>
	<string>1024668757717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyMaster</string>
	<key>PROJECT_ID</key>
	<string>studymaster-34e00</string>
	<key>STORAGE_BUCKET</key>
	<string>studymaster-34e00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024668757717:ios:6ea1ff076797696ef3fc5c</string>
</dict>
</plist>